<%- include("../partials/header.js") %>

<div class="container-xl container-fluid row justify-content-md-center">
                                                                    
    <form class="form-group col-md-auto" action="/scenes/<%=scene_id %>/comments/<%=comment._id%>?_method=PUT" method="POST" >
        <h1 class="text-center">Edit Comment </h1>
        <input class="form-control" type="text" name="text" value="<%=comment.text%>">
        <br>
        <br>
        <button type="submit"> send</button>

    </form>
</div>

<%- include("../partials/footer.js") %>