<%- include("partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

<link rel="stylesheet" href="/stylesheets/landing.css"></link>

  <div class="page-container">
    <div class="section-1-container">
      <div class="slider-container">
          <div class="slider-animation cc-work-1 slideshow" >
              
            </div>
      </div>
      <div class="right-content">
        <div class="div-block-4">
          <div class="content-text-title">
            <h1 class="ahoy-title">A community of<br>travelers</h1>
          </div>
          <br>
          
          <div class="form-container">
             <div class="form-content-index">
            <form  action="/scenes/query/search" method="POST">
                <div  class="input-container" >
                  <div class="input-main">
                      <input type="text" name="search" class="form-control main-search" placeholder="search place by location or tag. Ex: 'island' or 'Australia' ">
                  </div>
                  <div>
                      <button type="submit" class="btn btn-primary "><i class="fas fa-search"></i> Search</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tags-container">
                <form action="/scenes/tag/beach" method="GET">
                  <button type="submit" class="btn btn-primary beach">beach</button>  
                </form>

                <form action="/scenes/tag/waterfall" method="GET">
                  <button type="submit" class="btn btn-primary waterfall">waterfall</button>
                </form>

                <form action="/scenes/tag/forest" method="GET">
                  <button type="submit" class="btn btn-primary forest">forest</button>
                </form>

                <form action="/scenes/tag/island" method="GET">
                  <button type="submit" class="btn btn-primary island">island</button>
                </form>

                <form action="/scenes/tag/mountain" method="GET">
                  <button type="submit" class="btn btn-primary mountain">mountain</button>
                </form>

                <form action="/scenes/tag/city" method="GET">
                  <button type="submit" class="btn btn-primary city">city</button>
                </form>

                <form action="/scenes/tag/lake" method="GET">
                  <button type="submit" class="btn btn-primary lake">lake</button>
                </form>

              
          </div>
          
        </div>
        </div>
        <div class="main-featured-content">
          <div class="feature-title-container">
            <h1 class="featured-title">Featured Posts:</h1>
          </div>
          <div class="feature-img-container">
             <% featuredScenes.slice(0,4).forEach(scene => { %>
                <a href="/scenes/<%= scene._id%>" class="featured-img" >
                  <form action="/scenes/tag/<%=scene.sceneType%>" method="GET">
                    <button type="submit" class="btn btn-primary category-tag-<%=scene.sceneType%>"><%=scene.sceneType%></button>
                  </form>
                  <div class="actions-box" id="<%=scene._id%>">
                      <div >
                        <% if (currentUser && scene.flag.some(function (flag) {
                            return flag.equals(currentUser._id)
                        })) { %>
            
                            <div class="action-buttons action-buttons-selected preventDefault btn-flag" data-toggle="tooltip" data-placement="top" title="You marked this place as visited">
                                <i class="fas fa-map-marked-alt fa-2x"></i>
                            </div>
                        <% } else if (currentUser){ %>
                            <div class="action-buttons preventDefault btn-flag">
                                <i class="far fa-map fa-2x" data-toggle="tooltip" data-placement="top" title="Mark as visited"></i>
                            </div>
                        <% } else { %> 
                          <div  class="action-buttons preventDefault " data-toggle="modal" data-target="#staticBackdrop">
                              <i class="far fa-map fa-2x" data-toggle="tooltip" data-placement="top" title="Mark as visited"></i>
                          </div>
                          <% } %> 
                      </div>
                      
                      <div >
                        <% if (currentUser && scene.saveScene.some(function (saved) {
                            return saved.equals(currentUser._id)
                        })) { %>
            
                            <div  class="mark-visited action-buttons action-buttons-selected btn-save preventDefault" data-toggle="tooltip" data-placement="top" title="Remove it from your saved Places">
                                <i class="fas fa-clipboard fa-2x"></i>
                            </div>
                        <% } else if (currentUser){ %>
                            <div class="mark-visited action-buttons btn-save preventDefault">
                                <i class="far fa-clipboard fa-2x" data-toggle="tooltip" data-placement="top" title="Save this place"></i>
                            </div>
                        <% } else {%> 
                          <div class="mark-visited action-buttons preventDefault" data-toggle="modal" data-target="#staticBackdrop">
                              <i class="far fa-clipboard fa-2x" data-toggle="tooltip" data-placement="top" title="Save this place"></i>
                          </div>
                        <% } %> 
                        </div>
                      <%if(currentUser){%>
                        <div class="mark-visited action-buttons preventDefault" id="share-btn"  data-toggle="modal" data-target="#sharedScene" title="Share Location">
                            <i class="far fa-paper-plane fa-2x"></i>  
                        </div>
                      <%} else{%>
                        <div  class="mark-visited action-buttons preventDefault" id="share-btn"  data-toggle="modal" data-target="#staticBackdrop" title="Share Location">
                            <i class="far fa-paper-plane fa-2x"></i>  
                        </div>
                     <% }%>
                      
                  </div>
                  
                  <h5 class="heading-8 scene-title"><%=scene.name%></h5>
                  <img src="<%=scene.images.img1%>" alt="" class="image-featured">
                  
                </a>
                
              <%})%>

            <div class="featured-img-wrap">
              <a href="/scenes" class="featured-img-btn ">
              
                  <h5 class="heading-see-all ">See All</h5>
              </a>
          </div>
            
          </div>
        </div>
        <div class="button-link">
            <i class="fas fa-arrow-left fa-lg arrow-left arrow"></i>
            <i class="fas fa-arrow-right fa-lg arrow-right arrow"></i>
        </div>
      </div>
    </div>
    <div class="section-popular">
      <div class="section-popular-container">
        <div class="popular-posts-container">
          <div class="popular-title">
            <div class="name-text">Most Popular</div>
            <div class="under-mark-across"></div>
          </div>


          <% isPopular.forEach((scene) => { %>
          <a href="/scenes/<%=scene.id%>">
            <div class="popular-item-container">
              <div class="popular-item-container-img">
                  <form action="/scenes/tag/<%=scene.sceneType%>" method="GET">
                    <button type="submit" class="btn btn-primary category-tag-<%=scene.sceneType%>"><%=scene.sceneType%></button>
                  </form>
                  <div class="actions-box" id="<%=scene._id%>">
                      <div >
                        <% if (currentUser && scene.flag.some(function (flag) {
                            return flag.equals(currentUser._id)
                        })) { %>
            
                            <div class="action-buttons action-buttons-selected preventDefault btn-flag" data-toggle="tooltip" data-placement="top" title="You marked this place as visited">
                                <i class="fas fa-map-marked-alt fa-2x"></i>
                            </div>
                        <% } else if (currentUser){ %>
                            <div class="action-buttons preventDefault btn-flag">
                                <i class="far fa-map fa-2x" data-toggle="tooltip" data-placement="top" title="Mark as visited"></i>
                            </div>
                        <% } else { %> 
                          <div  class="action-buttons preventDefault " data-toggle="modal" data-target="#staticBackdrop">
                              <i class="far fa-map fa-2x" data-toggle="tooltip" data-placement="top" title="Mark as visited"></i>
                          </div>
                          <% } %> 
                      </div>
                      
                      <div >
                        <% if (currentUser && scene.saveScene.some(function (saved) {
                            return saved.equals(currentUser._id)
                        })) { %>
            
                            <div  class="mark-visited action-buttons action-buttons-selected btn-save preventDefault" data-toggle="tooltip" data-placement="top" title="Remove it from your saved Places">
                                <i class="fas fa-clipboard fa-2x"></i>
                            </div>
                        <% } else if (currentUser){ %>
                            <div class="mark-visited action-buttons btn-save preventDefault">
                                <i class="far fa-clipboard fa-2x" data-toggle="tooltip" data-placement="top" title="Save this place"></i>
                            </div>
                        <% } else {%> 
                          <div class="mark-visited action-buttons preventDefault" data-toggle="modal" data-target="#staticBackdrop">
                              <i class="far fa-clipboard fa-2x" data-toggle="tooltip" data-placement="top" title="Save this place"></i>
                          </div>
                        <% } %> 
                        </div>
                      <%if(currentUser){%>
                        <div class="mark-visited action-buttons preventDefault" id="share-btn"  data-toggle="modal" data-target="#sharedScene" title="Share Location">
                            <i class="far fa-paper-plane fa-2x"></i>  
                        </div>
                      <%} else{%>
                        <div  class="mark-visited action-buttons preventDefault" id="share-btn"  data-toggle="modal" data-target="#staticBackdrop" title="Share Location">
                            <i class="far fa-paper-plane fa-2x"></i>  
                        </div>
                     <% }%>
                      
                  </div>
                  <img src="<%=scene.images.img1%>" alt="" class="image-2">
              </div>
              <div class="categori-description-block">
                <h1 class="category-title"><%=scene.name%></h1>
                <div class="category-description"><%=scene.description.substring(0,216)%>[...]</div>
              </div>
            </div>
        </a>
          <% }) %>

          <div class="button-link see-all-btn">
              <a href="/scenes" class="heading-7 ">See all <i class="fas fa-arrow-right"></i></a>

          </div>
        </div>
        <div class="popular-travelers-container">
          <div class="travelers-block">
            <div class="popular-title">
              <div class="name-text">High Rank Ahoy-Travelers</div>
              <div class="under-mark-across"></div>
            </div>
            <% highRank.forEach((user) => { %>
              <% if(currentUser){%>
                <a href="../users/<%=user.id%>">
                  <div class="travelers-item-block">
                    <div class="travelers-prof-pic-container"><img src="<%=user.avatar%>" alt="" class="traveler-prof-pic"></div>
                    <div class="travelers-info-block">
                      <h1 class="traveler-name"><%=user.username%></h1>
                      <h1 class="traveler-place"><%=user.location.state%>, <%=user.location.country%></h1>
                    </div>
                  </div>
                </a>
                <%} else {%>
                  <a data-toggle="modal" data-target="#staticBackdrop" ">
                    <div class="travelers-item-block">
                      <div class="travelers-prof-pic-container"><img src="<%=user.avatar%>" alt="" class="traveler-prof-pic"></div>
                      <div class="travelers-info-block">
                        <h1 class="traveler-name"><%=user.username%></h1>
                        <h1 class="traveler-place"><%=user.location.state%>, <%=user.location.country%></h1>
                      </div>
                    </div>
                  </a>
                  <%} %>
            <% }) %>
          </div>
          <div class="category-block">
            <div class="category-container">
              <div class="name-text">Search by Category Tags</div>
              <div class="under-mark-across"></div>
              <div class="tags-container">
                  <form action="/scenes/tag/beach" method="GET">
                    <button type="submit" class="btn btn-primary beach">beach</button>  
                  </form>
  
                  <form action="/scenes/tag/waterfall" method="GET">
                    <button type="submit" class="btn btn-primary waterfall">waterfall</button>
                  </form>
  
                  <form action="/scenes/tag/forest" method="GET">
                    <button type="submit" class="btn btn-primary forest">forest</button>
                  </form>
  
                  <form action="/scenes/tag/island" method="GET">
                    <button type="submit" class="btn btn-primary island">island</button>
                  </form>
  
                  <form action="/scenes/tag/mountain" method="GET">
                    <button type="submit" class="btn btn-primary mountain">mountain</button>
                  </form>
  
                  <form action="/scenes/tag/city" method="GET">
                    <button type="submit" class="btn btn-primary city">city</button>
                  </form>
  
                  <form action="/scenes/tag/lake" method="GET">
                    <button type="submit" class="btn btn-primary lake">lake</button>
                  </form>
  
                
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="parallax-sec">
    </div> -->
    <div class="">
        <div class="map-all-scenes">
            <%- include("map.ejs") %>
        </div>
      </div>
   

    <div class="subscribe-section">
      <div class="subscribe-container">
        <div class="subscribe-bg-block">
          <div class="subscribe-bg-img"></div>
          <div class="subscribe-bg-white"></div>
        </div>
        <div class="subscribe-content-container">
          <div class="subscribe-text-container ">
            <h1 class="subscribe-text">Sign up now and become an Ahoy Traveler</h1>
          </div>
          <div class="subscribe-form-container ">
              <div class="centerText table-dark">
                  <h5 class="signUpHeader">Sign Up</h5>
                  
                </div>
              <div class="becomeAhoy table-dark">
                  <form action="/register" method="POST">

                    <div class="form-group">
                      <div class="col-sm-12">
                          <!-- <label for="UserName" class="form-label">User Name:</label> -->
                          <input type="text" name="username" class="form-control" placeholder="username" required>
                      </div>
                      </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <!-- <label for="email" class="form-label">Email:</label> -->
                            <input type="email" name="email" class="form-control" placeholder="e-mail" required>
                        </div>
                    </div>
            
                    <div class="form-group">
                    <div class="col-sm-12">
                        <!-- <label for="inputPassword" class="form-label">Password: </label> -->
                        <input type="password" name="password" class="form-control" placeholder="password" required>
                    </div>
                    </div>      
                    <div class="form-group  justify-content-md-center">
                        <div class="col-sm-12">
                          <button type="submit" class="btn btn-primary form-control">Sign Up</button>
                        </div>
                      </div>
                </form>            
              </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <%- include("partials/footer.ejs") %>























