

<%- include("partials/header.js") %>

  <div>
    <div class="section-1-container">
      <div class="slider-container">
          <div class="slider-animation cc-work-1 slideshow" >
              <ul >
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
              </ul>
            </div>
      </div>
      <div class="right-content">
        <div class="div-block-4">
          <div class="content-text-title">
            <h1 class="ahoy-title">A community of<br>travelers and<br>story tellers</h1>
          </div>
          <div class="form-container">
            <div class="form-block w-form">
                <form action="/scenes" method="GET">
                  <input type="text" name="search" class="form-control" placeholder=" search place by location or tag. Ex: 'island' " id="inputPassword">
                  <button type="submit" class="btn btn-primary btn-search">Search</button>
                </form>       
            </div>
            <div class="tags-container">
                <form action="/scenes/tag/beach" method="GET">
                  <button type="submit" class="btn btn-primary beach">beach</button>  
                </form>

                <form action="/scenes/tag/waterfall" method="GET">
                  <button type="submit" class="btn btn-primary waterfall">waterfall</button>
                </form>

                <form action="/scenes/tag/forest" method="GET">
                  <button type="submit" class="btn btn-primary forest">forest</button>
                </form>

                <form action="/scenes/tag/island" method="GET">
                  <button type="submit" class="btn btn-primary island">island</button>
                </form>

                <form action="/scenes/tag/mountain" method="GET">
                  <button type="submit" class="btn btn-primary mountain">mountain</button>
                </form>

                <form action="/scenes/tag/city" method="GET">
                  <button type="submit" class="btn btn-primary city">city</button>
                </form>

                <form action="/scenes/tag/lake" method="GET">
                  <button type="submit" class="btn btn-primary lake">lake</button>
                </form>

              
          </div>
          </div>
        </div>
        <div class="main-featured-content">
          <div class="feature-title-container">
            <h1 class="featured-title">Featured Posts</h1>
          </div>
          <div class="feature-img-container">
            <a href="/scenes/<%= featuredScenes[1]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[1].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[1].sceneType%>"><%=featuredScenes[1].sceneType%></button>
              </form>
              <h5 class="heading-8"><%=featuredScenes[1].name%></h5>
              <img src="<%=featuredScenes[1].image%>" alt="" class="image-featured"></a>
            </a>

            <a href="/scenes/<%= featuredScenes[2]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[2].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[2].sceneType%>"><%=featuredScenes[2].sceneType%></button>
              </form> 
                <h5 class="heading-8"><%=featuredScenes[2].name%></h5>
                <img src="<%=featuredScenes[2].image%>" alt="" class="image-featured"></a>
            </a>

            <a href="/scenes/<%=featuredScenes[3]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[3].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[3].sceneType%>"><%=featuredScenes[3].sceneType%></button>
              </form>  
                <h5 class="heading-8"><%=featuredScenes[3].name%></h5>
                <img src="<%=featuredScenes[3].image%>" alt="" class="image-featured"></a>
            </a>

            <a href="/scenes/<%=featuredScenes[4]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[4].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[4].sceneType%>"><%=featuredScenes[4].sceneType%></button>
              </form>  
                <h5 class="heading-8"><%=featuredScenes[4].name%></h5>
                <img src="<%=featuredScenes[4].image%>" alt="" class="image-featured"></a>
                <a href="/scenes" class="featured-img-see-all w-inline-block">
                <h1 class="heading-9">See all</h1>
              </a>
          </div>
        </div>
        <div class="button-link">
          <a href="/scenes" class="heading-7">See all posts</a>
        </div>
      </div>
    </div>
    <div class="section-popular">
      <div class="section-popular-container">
        <div class="popular-posts-container">
          <div class="popular-title">
            <div class="name-text">Most Popular</div>
            <div class="under-mark-across"></div>
          </div>
          <div class="popular-item-container">
            <div class="popular-item-container-img">
                <button type="button" class="btn btn-primary category-tag-city">city</button>

              
              <img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="image-2">
            </div>
            <div class="categori-description-block">
              <h1 class="category-title">Heading</h1>
              <div class="category-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            </div>
          </div>
          <div class="button-link">
            <h1 class="heading-7">See all posts</h1>
          </div>
        </div>
        <div class="popular-travelers-container">
          <div class="travelers-block">
            <div class="popular-title">
              <div class="name-text">High Rank Ahoy-Travelers</div>
              <div class="under-mark-across"></div>
            </div>
            <div class="travelers-item-block">
              <div class="travelers-prof-pic-container"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt="" class="traveler-prof-pic"></div>
              <div class="travelers-info-block">
                <h1 class="traveler-name">Mary Brown</h1>
                <h1 class="traveler-place">Connecticut, USA</h1>
              </div>
            </div>
          </div>
          <div class="category-block">
            <div class="category-container">
              <div class="name-text">Search by Category Tags</div>
              <div class="under-mark-across"></div>
              <div class="tags-container">
                  <form action="/scenes/tag/beach" method="GET">
                    <button type="submit" class="btn btn-primary beach">beach</button>  
                  </form>
  
                  <form action="/scenes/tag/waterfall" method="GET">
                    <button type="submit" class="btn btn-primary waterfall">waterfall</button>
                  </form>
  
                  <form action="/scenes/tag/forest" method="GET">
                    <button type="submit" class="btn btn-primary forest">forest</button>
                  </form>
  
                  <form action="/scenes/tag/island" method="GET">
                    <button type="submit" class="btn btn-primary island">island</button>
                  </form>
  
                  <form action="/scenes/tag/mountain" method="GET">
                    <button type="submit" class="btn btn-primary mountain">mountain</button>
                  </form>
  
                  <form action="/scenes/tag/city" method="GET">
                    <button type="submit" class="btn btn-primary city">city</button>
                  </form>
  
                  <form action="/scenes/tag/lake" method="GET">
                    <button type="submit" class="btn btn-primary lake">lake</button>
                  </form>
  
                
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe-section">
      <div class="subscribe-container">
        <div class="subscribe-bg-block">
          <div class="subscribe-bg-img"></div>
          <div class="subscribe-bg-white"></div>
        </div>
        <div class="subscribe-content-container">
          <div class="subscribe-text-container">
            <h1 class="subscribe-text">Sign up now and become an Ahoy Traveler</h1>
          </div>
          <div class="subscribe-form-container">
            <div class="w-form">
              <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-2"><label for="name">user name</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"><label for="email">Email Address</label><input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required=""><label for="email">password</label><input type="email" class="w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""><input type="submit" value="Sign Up" data-wait="Please wait..." class="submit-button w-button"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <%- include("partials/footer.js") %>























