<%- include("partials/header.ejs") %>
<%- include("partials/navBar.ejs") %>

<link rel="stylesheet" href="/stylesheets/landing.css"></link>

  <div class="page-container">
    <div class="section-1-container">
      <div class="slider-container">
          <div class="slider-animation cc-work-1 slideshow" >
              
            </div>
      </div>
      <div class="right-content">
        <div class="div-block-4">
          <div class="content-text-title">
            <h1 class="ahoy-title">A community of<br>travelers</h1>
          </div>
          <br>
          
          <div class="form-container">
             <div class="form-content-index">
            <form  action="/scenes" method="GET">
                <div  class="input-container" >
                  <div class="input-main">
                      <input type="text"  class="form-control main-search" id="inputPassword2" placeholder=" search place by location or tag. Ex: 'island' or 'Australia' ">
                  </div>
                  <div class="">
                      <button type="submit" class="btn btn-primary "><i class="fas fa-search"></i> Search</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tags-container">
                <form action="/scenes/tag/beach" method="GET">
                  <button type="submit" class="btn btn-primary beach">beach</button>  
                </form>

                <form action="/scenes/tag/waterfall" method="GET">
                  <button type="submit" class="btn btn-primary waterfall">waterfall</button>
                </form>

                <form action="/scenes/tag/forest" method="GET">
                  <button type="submit" class="btn btn-primary forest">forest</button>
                </form>

                <form action="/scenes/tag/island" method="GET">
                  <button type="submit" class="btn btn-primary island">island</button>
                </form>

                <form action="/scenes/tag/mountain" method="GET">
                  <button type="submit" class="btn btn-primary mountain">mountain</button>
                </form>

                <form action="/scenes/tag/city" method="GET">
                  <button type="submit" class="btn btn-primary city">city</button>
                </form>

                <form action="/scenes/tag/lake" method="GET">
                  <button type="submit" class="btn btn-primary lake">lake</button>
                </form>

              
          </div>
          
        </div>
        </div>
        <div class="main-featured-content">
          <div class="feature-title-container">
            <h1 class="featured-title">Featured Posts:</h1>
          </div>
          <div class="feature-img-container">
            <a href="/scenes/<%= featuredScenes[0]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[0].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[0].sceneType%>"><%=featuredScenes[0].sceneType%></button>
              </form>
              <h5 class="heading-8 scene-title"><%=featuredScenes[0].name%></h5>
              <img src="<%=featuredScenes[0].image%>" alt="" class="image-featured"></a>
            </a>

            <a href="/scenes/<%= featuredScenes[1]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[1].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[1].sceneType%>"><%=featuredScenes[1].sceneType%></button>
              </form> 
                <h5 class="heading-8 scene-title"><%=featuredScenes[1].name%></h5>
                <img src="<%=featuredScenes[1].image%>" alt="" class="image-featured"></a>
            </a>

            <a href="/scenes/<%=featuredScenes[2]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[2].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[2].sceneType%>"><%=featuredScenes[2].sceneType%></button>
              </form>  
                <h5 class="heading-8 scene-title"><%=featuredScenes[2].name%></h5>
                <img src="<%=featuredScenes[2].image%>" alt="" class="image-featured"></a>
            </a>

            <a href="/scenes/<%=featuredScenes[3]._id%>" class="featured-img w-inline-block">
              <form action="/scenes/tag/<%=featuredScenes[3].sceneType%>" method="GET">
                <button type="submit" class="btn btn-primary category-tag-<%=featuredScenes[3].sceneType%>"><%=featuredScenes[3].sceneType%></button>
              </form>  
                <h5 class="heading-8 scene-title"><%=featuredScenes[3].name%></h5>
                <img src="<%=featuredScenes[3].image%>" alt="" class="image-featured"></a>
                <a href="/scenes" class="featured-img-see-all w-inline-block">
                <h1 class="heading-9">See all</h1>
              </a>
          </div>
        </div>
        <div class="button-link">
            <i class="fas fa-arrow-left fa-lg arrow-left arrow"></i>
            <i class="fas fa-arrow-right fa-lg arrow-right arrow"></i>
        </div>
      </div>
    </div>
    <div class="section-popular">
      <div class="section-popular-container">
        <div class="popular-posts-container">
          <div class="popular-title">
            <div class="name-text">Most Popular</div>
            <div class="under-mark-across"></div>
          </div>


          <% isPopular.forEach((popular) => { %>
          <a href="/scenes/<%=popular.id%>">
            <div class="popular-item-container">
              <div class="popular-item-container-img">
                  <form action="/scenes/tag/<%=popular.sceneType%>" method="GET">
                    <button type="submit" class="btn btn-primary category-tag-<%=popular.sceneType%>"><%=popular.sceneType%></button>
                  </form>
                  <img src="<%=popular.image%>" alt="" class="image-2">
              </div>
              <div class="categori-description-block">
                <h1 class="category-title"><%=popular.name%></h1>
                <div class="category-description"><%=popular.description.substring(0,216)%>[...]</div>
              </div>
            </div>
        </a>
          <% }) %>

          <div class="button-link see-all-btn">
              <a href="/scenes" class="heading-7 ">See all <i class="fas fa-arrow-right"></i></a>

          </div>
        </div>
        <div class="popular-travelers-container">
          <div class="travelers-block">
            <div class="popular-title">
              <div class="name-text">High Rank Ahoy-Travelers</div>
              <div class="under-mark-across"></div>
            </div>
            <% highRank.forEach((user) => { %>
            <a href="../users/<%=user.id%>">
              <div class="travelers-item-block">
                <div class="travelers-prof-pic-container"><img src="<%=user.avatar%>" alt="" class="traveler-prof-pic"></div>
                <div class="travelers-info-block">
                  <h1 class="traveler-name"><%=user.username%></h1>
                  <h1 class="traveler-place"><%=user.location.state%>, <%=user.location.country%></h1>
                </div>
              </div>
            </a>
            <% }) %>
          </div>
          <div class="category-block">
            <div class="category-container">
              <div class="name-text">Search by Category Tags</div>
              <div class="under-mark-across"></div>
              <div class="tags-container">
                  <form action="/scenes/tag/beach" method="GET">
                    <button type="submit" class="btn btn-primary beach">beach</button>  
                  </form>
  
                  <form action="/scenes/tag/waterfall" method="GET">
                    <button type="submit" class="btn btn-primary waterfall">waterfall</button>
                  </form>
  
                  <form action="/scenes/tag/forest" method="GET">
                    <button type="submit" class="btn btn-primary forest">forest</button>
                  </form>
  
                  <form action="/scenes/tag/island" method="GET">
                    <button type="submit" class="btn btn-primary island">island</button>
                  </form>
  
                  <form action="/scenes/tag/mountain" method="GET">
                    <button type="submit" class="btn btn-primary mountain">mountain</button>
                  </form>
  
                  <form action="/scenes/tag/city" method="GET">
                    <button type="submit" class="btn btn-primary city">city</button>
                  </form>
  
                  <form action="/scenes/tag/lake" method="GET">
                    <button type="submit" class="btn btn-primary lake">lake</button>
                  </form>
  
                
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="parallax-sec">
    </div> -->
    <div class="">
        <div class="map-all-scenes">
            <%- include("map.ejs") %>
        </div>
      </div>
   

    <div class="subscribe-section">
      <div class="subscribe-container">
        <div class="subscribe-bg-block">
          <div class="subscribe-bg-img"></div>
          <div class="subscribe-bg-white"></div>
        </div>
        <div class="subscribe-content-container">
          <div class="subscribe-text-container ">
            <h1 class="subscribe-text">Sign up now and become an Ahoy Traveler</h1>
          </div>
          <div class="subscribe-form-container ">
              <div class="centerText table-dark">
                  <h5 class="signUpHeader">Sign Up</h5>
                  
                </div>
              <div class="becomeAhoy table-dark">
                  <form action="/register" method="POST">

                    <div class="form-group">
                      <div class="col-sm-12">
                          <!-- <label for="UserName" class="form-label">User Name:</label> -->
                          <input type="text" name="username" class="form-control" placeholder="username" required>
                      </div>
                      </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <!-- <label for="email" class="form-label">Email:</label> -->
                            <input type="email" name="email" class="form-control" placeholder="e-mail" required>
                        </div>
                    </div>
            
                    <div class="form-group">
                    <div class="col-sm-12">
                        <!-- <label for="inputPassword" class="form-label">Password: </label> -->
                        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="password" required>
                    </div>
                    </div>      
                    <div class="form-group  justify-content-md-center">
                        <div class="col-sm-12">
                          <button type="submit" class="btn btn-primary form-control">Sign Up</button>
                        </div>
                      </div>
                </form>            
              </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <%- include("partials/footer.ejs") %>























