<h1>working?</h1>

<div class="row text-center" >
        
            <div class="col-md-3 col-sm-6 card">
                <div>
                    <div class="thumbnail">
                        <div class="card-title">
                                <h4><%= scene.name %> - <%= scene.location %></h4>
                        </div>
                        <img src="<%- scene.image %>" class="card-img-top"" alt="">
                        
                    </div>
                    <p class="card-text"><%= scene.description %></p>
                    
                </div>
                <a href="/scenes/<%= scene._id%>" target="_blank" rel="noopener noreferrer">See more</a>
            </div>   
    </div>