<%- include("../partials/header.ejs")%>
<%- include("../partials/navBar.ejs")%>
<link rel="stylesheet" href="/stylesheets/user-prof.css"></link>

<div class="page-container">
  <div class="user-prof-container">
      <div class="div-block">
        <div class="user-info-div">
          <div class="div-block-9">
            <div class="user-frame">
              <div class="user-img-cont"><img src="<%=user.avatar%>" alt="" class="user-img-avatar"></div>
              <div class="user-info-cont">
                <h1 class="user-name">@<%= user.username %></h1>
                <%if(user.location.country && user.location.state ){ %>
                  <h1 class="user-location"><%= user.location.state %></h1> - 
                  <h1 class="user-location"><%= user.location.country %></h1>
                  <% } else if (user.location.country && !user.location.state){ %>
                    <h1 class="user-location"><%= user.location.country %></h1>
                    <% } else {%>
                      <h1 class="user-location">AhoyWorld</h1> 
                    <% }%>
              </div>
              <div >
                <%if(user.facebook !== "facebook.com/" || user.facebook !== ""){ %>
                <a href="http://facebook.com/<%=user.facebook%> %>" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <% } else { %>
                  <a href="http://facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <% } %>


                <%if(user.instagram !==  "instagram.com/" || user.instagram !== ""){ %>
                  <a href="http://instagram.com/<%=user.instagram%>" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <% } else { %>
                    <a href="http://instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <% } %>

              </div>

              <div class="user-email-cont">
                <h1 class="user-email"><%= user.email %></h1>
              </div>

              <div class="social-btns">
                <div class="btn-edit-text">
                <%  if(currentUser && user.id === currentUser.id){ %>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Edit
                  </button>              
                <% }  %>
                <%  if(currentUser && user.id != currentUser._id){ %>
                  <% if(isFollowing !== true) { %>
                    <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow</button></a>
                    <% } else { %>
                      <a href="/unfollow/<%= user.id %>"><button class="btn btn-primary">unfollow</button></a>
                  <% } %>
                <% } %>
                
                </div>
              </div>
            </div>
            <div class="user-info-cont">
                <%if(user.description){ %> 
                  <div class="user-text-info"><%= user.description %></div>
                  <% } else { %>
                    <div class="user-text-info">What kind of AhoyTraveler am I?</div>
                    <% }%>
            </div>
            <div class="user-places-cont">
              <div class="user-places-data">
                <h1 class="data-text">Places Visited: </h1>
                <% if(flag.length > 2){ %>
                  <h1 class="data-text"> 
                    <a class="and-more" href="../scenes/<%=flag[0].id%>"><%=flag[0].name%>,</a>
                    <a class="and-more" href="../scenes/<%=flag[1].id%>"><%=flag[1].name%></a> 
                    <a class="and-more btn btn-outline-info seeAllFlagged" data-disabled="true" onclick="userSeeAllFlagged()"> and <%= flag.length - 2%> more...</a>
                  </h1>
                  
                  <% } else if(flag.length === 0){ %>
                    <h1 class="data-text"> 
                        No places visited yet.
                      </h1>
                  <% } else  { %>
                    
                    <% flag.forEach((flaged) => {%>
                    <h1 class="data-text"> 
                      <a class="and-more" href="../scenes/<%=flaged.id%>"><%=flaged.name%>,</a>
                    </h1>
                    <% }); %>
                  <% } %>
              </div> 
              <div class="user-places-data">
                <h1 class="data-text">Places Saved: </h1>
                <% if(savedScene.length > 2){ %>
                  <h1 class="data-text"> 
                    <a class="and-more" href="../scenes/<%=savedScene[0].id%>"><%=savedScene[0].name%>,</a>
                    <a class="and-more" href="../scenes/<%=savedScene[1].id%>"><%=savedScene[1].name%></a> 
                    <a  onclick="userSeeAllSaved()" class="and-more btn btn-outline-info seeAllSaved" href="#" > and <%= savedScene.length - 2%> more...</a>
                  </h1>

                  <% } else if(savedScene.length === 0){ %>
                    <h1 class="data-text"> 
                        No places saved yet.
                    </h1>
                  <% } else  { %>
                    
                    <% savedScene.forEach((scene) => { %>
                    <h1 class="data-text"> 
                      <a class="and-more" href="../scenes/<%=scene.id%>"><%=scene.name%>,</a>
                    </h1>
                    <% }); %>
                  <% } %>
              </div>
                
              <div class="user-places-data">
                  <h1 class="data-text">Followed by:</h1>
                  <% if(user.followers.length > 2){ %>
                    <h1 class="data-text"> 
                      <a class="and-more" href="../users/<%=user.followers[0].id%>"><%=user.followers[0].name%>,</a>
                      <a class="and-more" href="../users/<%=user.followers[1].id%>"><%=user.followers[1].name%></a> 
                      <a class="and-more btn btn-outline-info" href="#" type="button" data-toggle="modal" data-target="#showAllFollowers"> and <%= user.followers.length - 2%> more...</a>
                    </h1>
                    <% } else if(user.followers.length === 0){ %>
                      <h1 class="data-text"> 
                          No followers yet.
                        </h1>
                    <% } else  { %>
                      
                      <% user.followers.forEach((follower) => {%>
                      <h1 class="data-text"> 
                        <a class="and-more" href="../users/<%=follower.id%>"><%=follower.username%>,</a>
                      </h1>
                      <% }); %>
                    <% } %>
              </div>
              <div class="user-places-data">
                <h1 class="data-text">Following: </h1>
                <% if(user.following.length > 2){ %>
                  <h1 class="data-text"> 
                    <a class="and-more" href="../users/<%=user.following[0].id%>"><%=user.following[0].name%>,</a>
                    <a class="and-more" href="../users/<%=user.following[1].id%>"><%=user.following[1].name%></a> 
                    <a class="and-more btn btn-outline-info" href="#"  data-toggle="modal" data-target="#showAllFollowing"> and <%= user.following.length - 2%> more...</a>
                  </h1>
                  
                  <% } else if(user.following.length === 0){ %>
                    <h1 class="data-text"> 
                        Not following anyone yet.
                      </h1>
                  <% } else  { %>
                    
                    <% user.following.forEach((follow) => {%>
                    <h1 class="data-text"> 
                      <a class="and-more" href="../users/<%=follow.id%>"><%=follow.username%>,</a>
                    </h1>
                    <% }); %>
                  <% } %>
                  
              </div>
              
            </div>
            
          </div>
          <div class="memberSince">
              <h6 class="member-title"> member since:</h6>
              <h6 class="member-title"><%=memberSince[1]%>, <%=memberSince[3]%></h6>

          </div>
          
        </div>
        
        <div class="user-post-cont">
            <% if (scenes.length === 0){ %>
              <div class="user-no-posts">
                  <h1 class="heading-7 no-posts-title">@<%= user.username%> have not posted anything yet</h1>

              </div>

              <% } else { %>
          <div class="popular-posts-container">
            <div class="user-title">
              <h1 class="heading-7">@<%= user.username %>'s posts:</h1>
            </div>
            
              
            
            <% scenes.forEach(function(scene){ %>
            
              <div class="popular-item-container" id="<%-scene.id%>">
                  
                <div class="popular-item-container-img">
                  <div class="category-tag-<%=scene.sceneType%>">
                    <h1 class="search-tag"><%=scene.sceneType%></h1>
                  </div>
                  <%  if(currentUser && user.id == currentUser._id){ %>

                  <div class="mobile-settings preventDefault">
                    <i class="fas fa-cog fa-lg fa-2x "  id="editDeleteDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false""></i>
                    <div class="dropdown-menu mobile-setting-items" aria-labelledby="editDeleteDropDown">
                        <a class="dropdown-item item" data-toggle="modal" data-target="#deleteScene<%-scene._id%>" href="#">Delete</a>
                        <a class="dropdown-item item" data-toggle="modal" data-target="#editScene<%-scene._id%>"href="#">Edit</a>
                    </div>
                  </div>
                  <% } %>

                  
                  <a href="/scenes/<%-scene.id%>">
                    <img src="<%= scene.image %>" alt="" class="image-2">
                  </a>
                </div>
                
                <div class="categori-description-block">
                  <a href="/scenes/<%-scene.id%>">
                  <h1 class="category-title"><%= scene.name %></h1>
                  <div class="category-description">
                    <%= scene.description.substring(0,215) %>[...]
                  </div>
                  </a>
                  
                </div>

                <%if(currentUser._id.toString() === scene.author.id.toString()){%>
                    <div class="modal fade" id="deleteScene<%-scene._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header table-dark">
                              <h5 class="modal-title" id="exampleModalLabel">Are you sure that you want to delete 
                                <br> <%-scene.name%>?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer table-dark">
                                  <input type="submit" class="btn btn-xs btn-danger deleteLocation" value="Yes">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>


                      <div class="modal fade" id="editScene<%-scene._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header table-dark">
                                <h5 class="modal-title" id="exampleModalLabel">Editing: 
                                  <br> <%-scene.name%></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body table-dark">
                                  <form action="/scenes/<%=scene._id %>?_method=PUT" method="POST">
                                    <div class="form-group ">
                                        <h6> Pick a tag that best describes your scene:</h6>
                                        
                                        
                                        <div class="form-check form-check-inline">
                                            <% if(scene.sceneType === "beach"){ %>
                                            <input type="radio" class="form-check-input" name="sceneType"  value="beach" id="Beach" checked required/><label class="form-check-label" for="Beach">Beach</label> 
                                              <% }else { %>
                                                <input type="radio" class="form-check-input" name="sceneType"  value="beach" id="Beach" required/><label class="form-check-label" for="Beach">Beach</label> 
                                                <% } %>
                                          </div>
                                        
                                        <div class="form-check form-check-inline">
                                            <% if(scene.sceneType === "waterfall"){ %>
                                            <input type="radio" class="form-check-input" name="sceneType"  value="waterfall" id="Waterfall" checked/><label class="form-check-label" for="Waterfall">Waterfall</label> 
                                              <% }else { %>
                                                <input type="radio" class="form-check-input" name="sceneType"  value="waterfall" id="Waterfall" /><label class="form-check-label" for="Waterfall">Waterfall</label> 
                                                <% } %>
                                          </div>
                          
                                        <div class="form-check form-check-inline">
                                            <% if(scene.sceneType === "forest"){ %>
                                            <input type="radio" class="form-check-input" name="sceneType"  value="forest" id="Forest" checked/><label class="form-check-label" for="Forest">Forest</label> 
                                              <% }else { %>
                                                <input type="radio" class="form-check-input" name="sceneType"  value="forest" id="Forest"/><label class="form-check-label" for="Forest">Forest</label> 
                                                <% } %>
                                          </div>
                          
                                        <div class="form-check form-check-inline">
                                            <% if(scene.sceneType === "island"){ %>
                                            <input type="radio" class="form-check-input" name="sceneType"  value="island" id="Island" checked/><label class="form-check-label" for="Island">Island</label>
                                              <% }else { %>
                                                <input type="radio" class="form-check-input" name="sceneType"  value="island" id="Island"/><label class="form-check-label" for="Island">Island</label>
                                                <% } %>
                                          </div>
                          
                                          <div class="form-check form-check-inline">
                                            <% if(scene.sceneType === "city"){ %>
                                              <input type="radio" class="form-check-input" name="sceneType"  value="city" id="City" checked/><label class="form-check-label" for="city">City</label> 
                                              <% }else { %>
                                                <input type="radio" class="form-check-input" name="sceneType"  value="city" id="Lake"/><label class="form-check-label" for="city">City</label> 
                                                <% } %>
                                            </div>
                          
                                        <div class="form-check form-check-inline">
                                            <% if(scene.sceneType === "lake"){ %>
                                              <input type="radio" class="form-check-input" name="sceneType"  value="lake" id="Lake" checked/><label class="form-check-label" for="Lake">Lake</label> 
                                              <% }else { %>
                                                <input type="radio" class="form-check-input" name="sceneType"  value="lake" id="Lake"/><label class="form-check-label" for="Lake">Lake</label> 
                                                <% } %>
                                            </div>

                                          
                                    </div>
                                    <br>
                                        
                                    <div class="form-group ">
                                        <label  for="title">Scene Title</label>
                                        <input type="text" id="name" class="form-control " value="<%-scene.name%>" maxlength="40" name="name" required>
                                    </div>
                          
                                        
                                        
                                        <div class="form-group">
                                            <label for="country">Scene Location:</label>
                                            <select name="country" class="form-control countries order-alpha" id="countryId" required>
                                                <option value=""></option>
                                                <option value="<%-scene.location.country%>" selected><%-scene.location.country%></option>
                                            </select>
                                            <select name="state" class="form-control states order-alpha" id="stateId" >
                                                <option value="<%-scene.location.state%>"><%-scene.location.state%></option>
                                                
                                            </select>
                                            <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
                                            <script src="//geodata.solutions/includes/countrystate.js"></script> -->
                                        </div>

                                        <div class="form-group ">
                                          <label  for="title">Place known as</label> <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Filling this field helps pin point you location on the map"></i>
                                          <input type="text" id="knownAs" class="form-control " value="<%-scene.knownAs%>" maxlength="40" name="knownAs" required>
                                        </div>
                          
                                        <br>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Scene Description</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" name="description" required><%-scene.description%></textarea>
                                        </div>
                                        
                          
                                        <div class="form-group">
                                            <label for="image">Image</label>
                                            <input type="url" name="image" placeholder="url"  value="<%-scene.image%>" class="form-control" placeholder="" id="image" required>
                                        </div>
                          
                          
                          
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                          </div>
                                    </form>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      <%}%>
              </div>
            
              <% }) %>
            <% } %>
            <nav class="pagination-container" aria-label="Page navigation">
      <% if (pages && pages > 0) { %>
      <ul class="justify-content-center pagination ">
          <% if (current == 1) { %>
          <li class="disabled-item page-item"><a class="page-link">First</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link " href="/users/<%=user.id%>">First</a></li>
          <% } %>
   
          <% if (current == 1) { %>
          <li class="page-item disabled-item "><a class="page-link">«</a></li>
          <% } else { %>
          <li><a class=" page-link" href="/users/<%=user.id%>?page=<%= Number(current) - 1 %>">«</a></li>
          <% } %>
   
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled-item"><a class="page-link">...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="active-item "><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li class=""><a class="page-link" href="/users/<%=user.id%>?page=<%= i %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled-item "><a class="page-link">...</a></li>
          <% } %>
          <% } %>
   
          <% if (current == pages) { %>
          <li class="page-item disabled-item "><a class="page-link">»</a></li>
          <% } else { %>
          <li><a class="page-link" href="/users/<%=user.id%>?page=<%= Number(current) + 1 %>">»</a></li>
          <% } %>
   
          <% if (current == pages) { %>
          <li class="page-item disabled-item "><a class="page-link">Last</a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link" href="/users/<%=user.id%>?page=<%= pages %>">Last</a></li>
          <% } %>
      </ul>
      <% } %>
  </nav>
          </div>
        </div>
      </div>
    </div>
</div>



<!-- Edit Profile Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%- include("../partials/avatar.js") %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header table-dark">
        <h5 class="modal-title" id="exampleModalLabel">Editing your profile information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body table-dark">
          <form action="../users/<%=currentUser.id %>/edit" method="POST">
            <div class="form-group">

              <h6> Pick an Avatar:</h6>
              <input type="radio" class="avatar avatarRadio" name="avatar1"  value="avatar1" id="avatar1"/><label for="avatar1"></label> 
              <input type="radio" class="avatar avatarRadio" name="avatar1"  value="avatar2" id="avatar2"/><label for="avatar2"></label> 
              <input type="radio" class="avatar avatarRadio" name="avatar1"  value="avatar3" id="avatar3"/><label for="avatar3"></label> 
              <input type="radio" class="avatar avatarRadio" name="avatar1"  value="avatar4" id="avatar4"/><label for="avatar4"></label>
              <input type="radio" class="avatar avatarRadio" name="avatar1"  value="avatar5" id="avatar5"/><label for="avatar5"></label> 

            </div> 
              
              <div class="form-group">
                  <label for="location">Your location:</label>
                  <select name="country" class="form-control countries order-alpha" id="countryId" required>
                      <option value=""></option>
                      <option value="<%-currentUser.location.country%>" selected><%-currentUser.location.country%></option>
                  </select>
                  <select name="state" class="form-control states order-alpha" id="stateId" required>
                      <option value="<%-currentUser.location.state%>"><%-currentUser.location.state%></option>
                      
                  </select>
                  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
                  <script src="//geodata.solutions/includes/countrystate.js"></script> -->
              </div>

              <div class="form-group">
                  <%if(currentUser.description !== "") { %>
                  <label for="sceneDescription"> Description</label>
                  <textarea class="form-control" id="sceneDescriptiom" rows="3" name="description" required><%=currentUser.description%></textarea>
                  <%} else {%>
                    <label for="sceneDescription"> Description</label>
                  <textarea class="form-control" id="sceneDescriptiom" rows="3" name="description" required></textarea>
                    <%}%>
                </div>

              <div class="form-group">
                <label for="InstagramLink">Your Instagram:</label>
                <%if(currentUser.instagram !== "") { %>
                  <input type="text" name="instagram" id="instagram" maxlength="30"  class="form-control" value="<%-currentUser.instagram%>">
                  <%} else {%>
                    <input type="text" name="instagram" id="instagram" maxlength="30" placeholder="Instagram User Name Only. Ex: <%= user.username%>" class="form-control" placeholder="johnsmith" id="instagram">
                    <%}%>
              </div>

              <div class="form-group">
                  <label for="facebook">Your Facebook:</label>
                  <%if(currentUser.facebook !== "") { %>
                    <input type="text" name="facebook" id="facebook" maxlength="30"  class="form-control" value="<%-currentUser.facebook%>">
                    <%} else {%>
                      <input type="text" name="facebook" id="facebook" maxlength="50" placeholder="Facebook User Name Only. Ex: <%= user.username%>" class="form-control">
                      <%}%>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
             
          </form>
      </div>
      
    </div>
  </div>
</div>




<!-- Followers Modal -->
<div class="modal fade" id="showAllFollowers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header table-dark">
        <h5 class="modal-title" id="exampleModalLabel">@<%=user.username%> followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body table-dark">
          <% user.followers.forEach((follower) => {%>
            <h6 class="data-text"> 
              <a href="../users/<%=follower.id%>"><%=follower.username%>,</a>
            </h6>
          <% }); %>
      </div>
    </div>
  </div>
</div>  

<!-- Following Modal -->
<div class="modal fade" id="showAllFollowing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header table-dark">
          <h5 class="modal-title" id="exampleModalLabel">@<%=user.username%> is following</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body table-dark">
          <% user.following.forEach((follow) => {%>
            <h6 class=""> 
              <a href="../users/<%=follow.id%>"><%=follow.username%>,</a>
            </h6>
            <% }); %>
        </div>
      </div>
    </div>
  </div>  
  

  

<%- include("../partials/footer.ejs") %>