<%- include("../partials/header.js") %>


<div class="container-xl container-fluid row justify-content-md-center">
    
    <form class="form-group col-md-auto" action="/scenes/<%=scene._id %>?_method=PUT" method="POST">
        <h1 class="text-center">Editing: <%= scene.name %></h1>
        <br>
        <label>Name</label>
        
        <input class="form-control" type="text" name="name" value=" <%= scene.name %>">
        <br>

        <label>Location</label>
        <input class="form-control" type="text" name="location" value=" <%= scene.location%>"">
        <br>

        <label>Description </label>
        <textarea name="description" cols="30" rows="10"><%=scene.description%></textarea>        <br>

        <label> Image</label>
        <input type="text" name="image" value="<%=scene.image%>">

        <br>
        <br>
        <input type="submit">

    </form>
</div>

<%- include("../partials/footer.js") %>