<%- include("../partials/header.js") %>


<div class="row text-center" >
        
            <div class="col-md-3 col-sm-6 card">
                <div>
                    <div class="thumbnail">
                        <div class="card-title">
                                <h4><%= scene.name %> - <%= scene.location %></h4>
                        </div>
                        <img src="<%= scene.image %>" class="card-img-top"" alt="">
                        <h6 class="card-title"> Post By <%= scene.author.username%></h6>
                    </div>
                    
                
                        <p class="card-text"><%= scene.description %></p>
                    
                    
                    <p class="card-text"><%= scene._id.getTimestamp() %></p>

                    <% scene.comments.forEach((comment) => { %>
                    <div>
                        <p class="card-text">
                            <%= comment.author.username %> - <%= comment.text %>

                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-primary" href="/scenes/<%- scene._id%>/comments/<%-comment._id%>/edit">Edit</a>
                            <form action="/scenes/<%- scene._id%>/comments/<%-comment._id%>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <%  } %>
                        </p>
                    </div>
                        <% }); %>

                </div>

                <a class="btn btn-primary" href="/scenes">Back</a>
                <a class="btn btn-primary" href="/scenes/<%- scene._id %>/comments/new">Add Comment</a>

                <% if(currentUser && scene.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-primary" href="/scenes/<%- scene._id %>/edit">Edit</a>                
                    <br>
                    <form action="/scenes/<%=scene._id %>?_method=DELETE" method="POST" >
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

              <%  } %>
                
            </div>   
    </div>
    <div id="map"></div>

    <script>
            function initMap() {
              var lat = <%= scene.lat %>;
              var lng = <%= scene.lng %>;
              var center = {lat: lat, lng: lng };
              var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 8,
                  center: center,
                  scrollwheel: false
              });
              var contentString = `
                <strong><%= scene.name %><br />
                <%= scene.location %></strong>
                <p><%= scene.description %></p>
              `
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              var marker = new google.maps.Marker({
                  position: center,
                  map: map
              });
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            }
          </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?AIzaSyDIuLB4OpdqS823hdshWhlHZ04NSlySvvs&callback=initMap"></script>

<%- include("../partials/footer.js") %>