<%- include("../partials/header.ejs") %>
<a class="nav-link"  data-toggle="modal" data-target="#ratings" href="#">click me</a>


<div class="modal fade" id="ratings" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <form action="/scenes/<%= scene._id %>/reviews" method="POST">
                    <h1>Rating <%= scene.name %></h1>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="review[rating]" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4" name="review[rating]" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3" name="review[rating]" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="review[rating]" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1" name="review[rating]" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    </fieldset>
                    <div class="form-group">
                        <button tyepe="submit" class="btn btn-primary btn-block">Submit Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 





<div class="container">
    <div class="row">
        <h1 style="text-align: center">New Review: <%= scene.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/scenes/<%= scene._id %>/reviews" method="POST">
                <div class="form-group">
                    <label for="rating">Leave a rating:</label>
                    <fieldset class="starability-basic form-group" id="rating">
                    <div>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" checked />
                    <label for="first-rate5" title="5 stars - Amazing">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="4 stars - Very good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="3 stars - Average">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="2 stars - Not good">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                    </label>
                    </div>
                    <div>
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="1 star - Terrible">
                        <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                    </label>
                </div>
                        
                    </fieldset>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="review[text]" placeholder="Write a review for this scene..." rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit a Review</button>
                </div>
            </form>
            <a href="/scenes/<%= scene._id %>">Go Back</a>
        </div>
    </div>
</div>






<style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
        fieldset, label { margin: 0; padding: 0; }
    body{ margin: 20px; }
    h1 { font-size: 1.5em; margin: 10px; }
    
    /****** Style Star Rating Widget *****/
    
    .rating { 
      border: none;
      float: left;
    }
    
    .rating > input { display: none; } 
    .rating > label:before { 
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    
    .rating > .half:before { 
      content: "\f089";
      position: absolute;
    }
    
    .rating > label { 
      color: #ddd; 
     float: right; 
    }
    
    /***** CSS Magic to Highlight Stars on Hover *****/
    
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
    
    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
    
    </style>
<%- include("../partials/footer.ejs") %>